<div class="container">
    <form action="/emp/save-data" method="post">

   
<div class="form-group">
  <fieldset>
    <label class="form-label mt-4" >Name</label>
    <input class="form-control"name="fullName"  type="text">
  </fieldset>
  
</div>
<div class="form-group">
  <fieldset>
    <label class="form-label mt-4" >Email</label>
    <input class="form-control" name="email" type="text">
  </fieldset>
  
</div>
<div class="form-group">
  <fieldset>
    <label class="form-label mt-4" >City</label>
    <input class="form-control" name="city" type="text">
  </fieldset>
  
</div>
<div class="form-group">
  <fieldset>
    <label class="form-label mt-4" >PhoneNo</label>
    <input class="form-control" name="phone" type="text">
  </fieldset>
  
</div>
<br>

<input type="submit" class="btn btn-info btn-lg">
 </form>
</div>
