<div class="container">
    <div class="text-center">
      <h1>Employee ManageMent System</h1>  
    </div>
    <a href="/emp/add-emp" class="btn btn-danger">Add Employee</a>
    <a href="/emp/show-all-emp" class="btn btn-success">Show Employees</a>
     <a href="/emp/delete-emp" class="btn btn-info">Delete Employees</a>
     <a href="/emp/update-all-emp" class="btn btn-success">Update Employees</a>
</div>